<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="steam-client" />
  <package id="googlechrome" />
  <package id="sublimetext3" />
  <precommandstorun>
    <command>whoami</command>
    <command>Get-ChildItem</command>
  </precommandstorun>
  <postcommandstorun>
   <command>ls</command>
  </postcommandstorun>
  <gitrepos>
    <repopath>c:\users\joshu\desktop\</repopath>
    <repo>https://github.com/flutter/flutter.git</repo>
    <repo>https://github.com/getify/You-Dont-Know-JS</repo>
  </gitrepos>
  <vscodeextensions>
    <extension>ms-vscode.cpptools</extension>
  </vscodeextensions>
</packages>
